.git
.github
.cursor
node_modules
vendor
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.*
!.env.example
docker-compose*.yml
*.log
tests
phpunit.xml
.phpunit.cache
README.md
